<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Job</title>
  <link rel="stylesheet" href="postjob.css">
  
</head>
<body>
  <div class="job-posting-form">
    <h1>Post a Job</h1>
    <form action="/post-job" method="POST">
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="JobTitle" name="JobTitle" required>

      <label for="jobDescription">Job Description:</label>
      <textarea id="JobDescription" name="JobDescription" required></textarea>

      <label for="companyName">Company Name:</label>
      <input type="text" id="Company" name="Company" required>

      <label for="location">Location:</label>
      <input type="text" id="Location" name="Location" required>

      <label for="jobType">Job Type:</label>
      <select id="JobType" name="JobType" required>
        <option value="full-time">Full-Time</option>
        <option value="part-time">Part-Time</option>
        <option value="contract">Contract</option>
        <option value="internship">Internship</option>
      </select>

      <label for="salaryRange">Salary Range:</label>
      <input type="text" id="SalaryRange" name="SalaryRange" placeholder="e.g., $50,000 - $70,000" required>

        <label for="applicationDeadline"><i class="fas fa-calendar"></i> Application Deadline:</label>
        <input type="date" id="DeadLine" name="DeadLine" required>
      

      <button type="submit">Post Job</button>
    </form>
  </div>
</body>
</html>